.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  background-color: var(--color-brand-normal);
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: var(--color-primary-light);
}

.button[disabled] {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
}