.chefs-section {
    &__title {
        position: relative;
        margin: 0 auto 80px;

        &::before,
        &::after {
            position: absolute;
            bottom: 24px;
            content: '';
            max-width: 352px;
            width: 100%;
            border: 2px solid var(--color-brand-light);
        }

        &::before {
            left: 0;
        }

        &::after {
            position: absolute;
        }
    }

    &__list {
        display: flex;
        gap: 40px 30px;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}